<h1>Edit <%= @admin.first_name %>'s Profile</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= simple_form_for @admin, url: admin_path, method: :put do |f| %>
	<%= f.input :first_name, required: false, label: false, placeholder: "First Name" %>
	<%= f.input :last_name, required: false, label: false, placeholder: "Last Name"  %>
	<%= f.association :school, required: false, label: false, prompt: "School" %>
	<%= f.input :email, required: false, label: false, placeholder: "Email" %>
	<%= f.input :pass, required: false, label: false, placeholder: 'New Password' %>
	<%= f.input :pass_confirmation, label: false, placeholder: 'Confirm New Password' %>
	<%= f.button :submit, 'Update' %>
<% end %>
