<h1 class="edit_profileH1">Edit <%= @admin.first_name %>'s Profile</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= image_tag(@admin.image, :alt => "Profile Photo", :class => "profile_photo_edit") %>

<%= simple_form_for @admin, url: admin_path, method: :put do |f| %>
	<%= f.input :first_name, required: false, label: false, placeholder: "First Name" %>
	<%= f.input :last_name, required: false, label: false, placeholder: "Last Name"  %>
	<%= f.association :school, required: false, label: false, prompt: "School" %>
	<%= f.input :email, required: false, label: false, placeholder: "Email" %>
	<%= f.input :password, required: false, label: false, placeholder: 'Password' %>
	<%= f.input :password_confirmation, required: false, label: false, placeholder: 'Confirm Password' %>
	<%= f.input :image, label: false %>
	<%= f.button :submit, 'Update', :class => "updateProfile_button" %>
<% end %>