<h1>Register</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
<p><%= error %></p>
	<% end %>
<% end %>

<%= simple_form_for @admin do |f| %>
<%= f.input :first_name, required: false %>
<%= f.input :last_name, required: false %>
<%= f.input :email, required: false %>
<%= f.input :pass, required: false, label: 'Password' %>
<%= f.input :pass_confirmation, label: 'Password Confirmation' %>
<%= f.button :submit, 'Register' %>
<% end %>

<%= render template: '/sessions/new' %>