<h1><%= @admin.first_name %>'s Profile</h1>

<p><%= @admin.first_name %> <%= @admin.last_name %></p>
<p><%= @school.name %></p>

<%= button_to 'Edit My Profile', (edit_admin_path @admin.id), method: :get %>
<%= button_to 'Logout', { action:'destroy', controller: :sessions }, method: :delete %>