
<div id="container">
<h1><%= @admin.first_name %>'s Profile</h1>

<p><%= @admin.first_name %> <%= @admin.last_name %></p>
<p><%= @school.name %></p>
<%= image_tag @admin.image.url %>

<%= button_to 'Edit My Profile', (edit_admin_path @admin.id), method: :get, :class => "editprofile_button" %>

</div>