<h1 class="edit_style">Edit Styles for <%= @school.name %></h1>

<%= simple_form_for @style, url:  style_path, method: :put  do |f| %>
	<%= f.input :current, label:false, required: false %>
	<%= f.button :submit, 'Update Style' %>
<% end %>

<h2>Previous Style</h2>
<%= @style.previous %>

