<h1>Edit Styles for <%= @school.name %></h1>

<%= simple_form_for @style, url:  style_path, method: :put  do |f| %>
	<%= f.input :current, required: false %>
	<%= f.button :submit, 'Edit Style' %>
<% end %>

<h2>Previous Style</h2>
<%= @style.previous %>

