<% content_for :title do %>
<title><%= @school.name %></title>
<% end %>

<h1 id="header"><%= @school.name %></h1>

<% if @newsfeed %>
	<% @newsfeed.each do |news| %>
		<h2><%= news.title %></h2>
		<p><%=raw news.content %></p>
		<% @time = news.created_at.localtime %>
		<p><%= @time.strftime('%B %d, %Y - %I:%M %p') %></p>
	<% end %>
<% end %>

<%= image_tag(@school.logo, :alt => "Logo") %>

<h1>Current Weather</h1>
<%= @weather["data"]["current_condition"][0]["temp_F"] %> F
<img src="<%= @weather["data"]["current_condition"][0]['weatherIconUrl'][0]['value'] %>">

<div id="calendar"></div>

<div id="footer">
	<ul>
		<li><%= @school.street %></li>
		<li><%= @school.city %>,</li>
		<li><%= @school.state %></li>
		<li><%= @school.zipcode %></li>
		<li><%= link_to("Admin Dashboard", root_path) %></li>
	</ul>
</div>
