<% if @newsfeed %>
	<% @newsfeed.each do |news| %>
		<div id="<%= news.id %>" class="news">
			<a href="#"><h2><%= news.title %></h2></a>
			<div class="content">
				<p class="content">
					<% if news.image.file? %>
					<%= image_tag news.image, class: "content" %>
				<% end %>
				<%=raw news.content %>
				</p>
				<% @time = news.created_at.localtime %>
				<p class="timestamp"><%= @time.strftime('%B %d, %Y - %I:%M %p') %></p>
			</div>
			<button class="news_button">Home</button>
		</div>
	<% end %>
<% end %>