<h1 class="dashboard_name">Edit Newsfeed</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= simple_form_for @newsfeed, url: dashboard_path do |f| %>
	<%= f.input :title, label: false, required: false, placeholder: "Title" %>
	<%= f.input :content, label: false, required: false, placeholder: "Post content using HTML tags. Then edit your CSS Stylesheet by clicking 'Edit Style' below!" %>
	<%= f.button :submit, 'Update', :class => "publish_button"%>	
<% end %>
	<%= button_to('Delete', dashboard_path, method: :delete, :class => "edit_button") %>



