<h1>Dashboards#index</h1>
<h2><%= @school.name %></h2>
<p>Welcome <%= @admin.first_name %>!</p>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= simple_form_for @newsfeed, url: dashboards_path do |f| %>
	<%= f.input :title, required: false %>
	<%= f.input :content, required: false %>
	<%= f.button :submit, 'Publish' %>
<% end %>

<% if @newsfeeds %>
	<% @newsfeeds.each do |n| %>
		<a href="/dashboards/<%= n.id %>"><h2><%= n.title %></h2></a>
		<p><%= n.content %></p>
		<% @time = n.created_at.localtime %>
		<p><%= @time.strftime('%B %d, %Y - %I:%M %p') %></p>
	<% end %>
<% end %>	

<%= button_to 'Logout', { action:'destroy', controller: :sessions }, method: :delete %>

<iframe id='embedded' src='http://localhost:3000/schools/<%= @school.id %>' />
