<h1 class="dashboard_name"><%= @school.name %> Dashboard</h1>

<h2 class="welcome">Welcome <%= @admin.first_name %>!</h2>


<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<div id="dashboard_posts"
	<%= simple_form_for @newsfeed, url: dashboards_path do |f| %>
		<%= f.input :title, label: false, required: false, placeholder: "Title" %>
		<%= f.input :content, label: false, required: false, placeholder: "Post content using HTML tags. Then edit your CSS Stylesheet by clicking 'Edit Style' below!" %>
		<%= f.button :submit, 'Publish', :class => "publish_button" %>
	<% end %>
</div>

<%= button_to("Edit Style", edit_style_path(@school.id), method: :get) %>

<div id="dashboard_newsfeed">
	<% if @newsfeeds %>
		<% @newsfeeds.each do |n| %>
			<a href="/dashboards/<%= n.id %>"><h2><%= n.title %></h2></a>
			<p><%=raw n.content %></p>
			<% @time = n.created_at.localtime %>
			<p><%= @time.strftime('%B %d, %Y - %I:%M %p') %></p>
		<% end %>
	<% end %>	
</div>

<h2 class="live_view">Live View</h2>
<div id="iframe"><iframe id='iframe' src='/schools/<%= @school.id %>' /></div>

