<!DOCTYPE html>
<html>
<head>
	<title>K-12 Coding Admin Dashboard</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="backendBody">
	<div id="nav">
		<h1 class="company"> K-12 Coding</h1>
		<ul class="nav">
			<a class="nav" href="<%= dashboards_path %>"><li class="nav">Dashboard</li></a>
			<a class="nav" href="<%= admin_path @admin.id %>"><li class="nav">Profile</li></a>
			<a class="nav" href="<%= school_path @school.id %>"><li class="nav">School View</li></a>
			<li class="nav"><%= button_to 'Logout', logout_path, method: :delete, :class => 'nav' %></li>
		</ul>
	</div>

	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>

	<%= yield %>

	<div id="dashboard_footer">
		<ul>
			<li>© 2015 K-12 Coding</li>
		</ul>
	</div>

</body>
</html>
