<!DOCTYPE html>
<html>
<head>
	<title>K-12 Coding Admin</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<h1>K-12 Coding Dashboard</h1>
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>

	<div class="rl">
		<h1>Register</h1>
		<%= yield :register %>
	</div>

	<div class="rl">
		<h1>Login</h1>
		<%= render template: "/sessions/new" %>
	</div>

</body>
</html>
