<!DOCTYPE html>
<html>
<head>
	<title>K-12 Coding Admin</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="rlBody">
	<div id="lrHeader">
		<div id="loginH1">
			<h1>K-12 Coding Dashboard</h1>
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>
		</div>
			
		<div class="login">
			<%= render template: "/sessions/new" %>
		</div>
	</div>

	<div id='about'>
		<p>Quinoa artisan leggings letterpress, cray Brooklyn blog tattooed cred brunch bicycle rights wolf tofu. Chia deep v Vice Echo Park pour-over. Synth bitters polaroid, cliche gluten-free actually jean shorts semiotics fingerstache mustache. Slow-carb selvage heirloom American Apparel YOLO, single-origin coffee Intelligentsia distillery Brooklyn Kickstarter ethical tattooed.</p>

		<p>Thundercats meh listicle, Etsy hella jean shorts church-key chillwave taxidermy Odd Future Tumblr hashtag crucifix. Fashion axe whatever DIY, dreamcatcher church-key mixtape VHS listicle tousled gentrify cold-pressed sartorial banjo leggings Thundercats. Locavore aesthetic gluten-free viral.</p>
	</div>

	<div class="register">
		<h1>Register</h1>
		<%= yield :register %>
	</div>

	

</body>
</html>
