<!DOCTYPE html>
<html>
<head>
	<title>K-12 Coding Admin</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="rlBody">
	<div id="lrHeader">
		<div id="loginH1">
			<h1>K-12 Coding Dashboard</h1>
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>
		</div>
			
		<div class="login">
			<%= render template: "/sessions/new" %>
		</div>
	</div>

	<div id='about'>
		<p>Welcome to the Admin Dashboard for K-12 Coding</p>

		<p>K-12 Coding is an application that has been designed to help students learn to code while also benefiting the school.  Each school can create a website for students, faculty, family, and alumni to find out the most current events and news.</p>  

		<p>The students have the opportunity to update and customize their school's site using both HTML and CSS as well as JavaScript and jQuery if desired.</p>

		<p>If you already have an account, please log in above.  If you are registering for the first time, please use the registration form to the left.</p>
	</div>

	<div class="register">
		<h1>Register</h1>
		<%= yield :register %>
	</div>
</body>
</html>
